Source: pg-rage-terminator
Section: database
Priority: optional
Maintainer: Adrian Vondendriesch <adrian.vondendriesch@credativ.de>
Build-Depends:
 debhelper (>= 9),
 postgresql-server-dev-all
Standards-Version: 3.9.6
Homepage: https://github.com/disco-stu/pg_rage_terminator
Vcs-Git: https://github.com/disco-stu/pg_rage_terminator.git
Vcs-Browser: https://github.com/disco-stu/pg_rage_terminator

Package: pg-rage-terminator-9.3
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 postgresql-9.3
Description: PostgreSQL background worker that kill random sessions.
 pg-rage-terminator is a custom background worker wich is able to kill random
 PostgreSQL backends.

Package: pg-rage-terminator-9.4
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 postgresql-9.4
Description: PostgreSQL background worker that kill random sessions.
 pg-rage-terminator is a custom background worker wich is able to kill random
 PostgreSQL backends.

